{% extends 'dashboard/index.html.twig' %}

{% block content %}
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3>{{ 'user.list'|trans }}</h3>
            </div>
            <div class="box-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th class="form-actions-table-th">Actions</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="action-buttons">
                                    <a href="{{ path('user_show', { 'id': user.id }) }}"
                                       class="btn btn-primary btn-sm">{{ 'form.show'|trans }}</a>
                                    <a href="{{ path('user_edit', { 'id': user.id }) }}"
                                       class="btn btn-primary btn-sm">{{ 'form.edit'|trans }}</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="box-footer">
                    <a class="btn btn-primary" href="{{ path('user_new') }}">{{ 'user.create'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
